.Accueil{

    padding-top: 10%;
    font-size: 1.1rem;
    color: white;
    
}
.jumbotronAccueil{
    background: url(../img/bannieres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    opacity: 0.9;
    padding:8%;
    border-radius: 7px!important;
    width: 80%;
    -webkit-box-shadow: 3px 0px 76px 4px rgba(0,0,0,0.46)!important;
    -moz-box-shadow: 3px 0px 76px 4px rgba(0,0,0,0.46)!important;
    box-shadow: 3px 0px 76px 4px rgba(0,0,0,0.46)!important;
}


.iconeAccueil{
    font-size: 2rem;
    margin: 0 2%;
}
.icone{
    text-align: center;
}

.infos{
    text-align: left;
    margin-left: 20%;
}

.iconeAccueil{
    font-size: 1.5rem!important;
    color: white!important;
}


/* ************************************Media query Tablette************************************************ */


@media screen and (max-width: 992px) {
    .jumbotronAccueil{
        margin: 0;
        width: 100%;
        }
        .moi{
            max-width: 60%;
            
        }

        .nom{
            font-size: 1.6rem!important;
        }
       

        .iconeAccueil{
            font-size: 1.8rem;
            margin: 0 5%; 
        }
        .icone{
            text-align: center;
        }
  }

/* ************************************Media query mobile************************************************ */

@media screen and (max-width: 600px) {
    
        .jumbotronAccueil{
        margin: 0;
        width: 80%;
        }

        .moi{
            max-width: 40%;
            
        }

        .nom{
            font-size: 1rem!important;
        }
        .titre{
            font-size: 0.8rem;
        }

        .iconeAccueil{
            font-size: 1.1rem;
            margin: 0 5%;
        }

        .moi{
            max-width: 90%;
            border-radius: 50%;
        }
  }