.competences{
    margin: 0;
    padding: 0 0 5% 0;

}

.iconeComp{
    max-width: 40px;
}
.iconeCompgit{
    max-width: 60px;
}

.listcomp{
    font-size: 1.2rem;
}

/* ********************Medeia query mobile************************** */

@media screen and (max-width: 600px) {
     
.iconeComp{
    max-width: 30px;
}
.iconeCompgit{
    max-width: 45px;
}


}

