.contact{
    height: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 20% 0;

}
.formulaire {
    border-radius: 6px!important;
}

.titreForms{
    padding-bottom: 5%;
}

.nameForm{
    width: 80px;
}


