h1{
  text-align: center;
  font-weight: bold!important;
  font-size: 2rem!important;
  padding: 3% 0;
}

h2{
  text-align: center;
  font-weight: 500!important;
  font-size: 1.8rem!important;
  padding: 0 0 5% 0!important;
}
a{
  background: black;
}


/* *******************************Media query tablette*********************************** */
@media screen and (min-width: 601px) and (max-width: 979px){
  h2{
    font-size: 1.5rem!important;
    margin-top: 10%!important;
  }
  
}


/* *******************************Media query Mobile*********************************** */



@media screen and (max-width: 600px) {
h1{
  font-size: 1.4rem!important;
}

h2{
  font-size: 0.9rem!important;
  margin-top: 10%!important;
}

}







